* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* list-style: none; */
}

body {
    font-family: sans-serif;
    background-color: darkgray;
}

.title {
    text-align: center;
    font-size: 70px;
    border-bottom: 5px solid black;
    padding-bottom: 20px;
    color: black;
}

.container {
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    max-width: 800px;
    color: black;

}

ul {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-size: 25px;
    color: brown;

}

.btn {
    margin: 10px;
    padding: 15px;
    background-color: green;
    border: 3px solid black;
    border-radius: 20px;
    cursor: pointer;
}

.cart {
    margin-top: 20px;
    border-top: 5px solid black;

}

.cart h1 {
    text-align: center;
    font-size: 70px;
}

.remove {
    background-color: red;

}

.ms-10 {
    margin-left: 10px;
}